* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: #333;
    padding-bottom: 50px;
}

body::before {
    content: "";
    position: fixed;
    inset: -80px;
    background-image: url('../img/wpp_ficha2.webp');
    background-size: cover;
    background-position: center;
    filter: blur(4px) brightness(0.2);
    z-index: -1;
}

.logo-header {
    width: 80px;
}

.dataAgendamento {
    color: #e3e3e3;
}

.atendido {
    color: #41c688 !important;
    filter: blur(2px);
    transition: all 250ms ease-in-out;
}

.cutucado {
    color: #dbcf25 !important;
    transition: all 250ms ease-in-out;
}

.desistiu {
    color: #ff3b3b !important;
    transition: all 250ms ease-in-out;
}

.atendido:hover {
    filter: blur(0px) !important;
}

.truncate {
    display: block;
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    transition: all 250ms ease-in-out;

    a {
        color: #b9b7b7;
    }

    a:hover {
        color: #ffffff !important;
        transform: translateX(-3px);
        filter: drop-shadow(4px 5px 6px #e3e3e3);
    }

    li {
        transition: all 250ms ease;
    }

    .icon-navbar {
        font-size: 20px;
    }
}

#dataInicioFiltro,
#dataFimFiltro {
    color: #e3e3e3;
    border: 2px solid #b9b7b7 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}

.ff-philomene {
    font-family: "Chau Philomene One", sans-serif;
}

.ff-sora {
    font-family: "Sora", sans-serif;
}

.fs-7 {
    font-size: 12px;
}

.yellow {
    color: #ffbf00;
    filter: drop-shadow(3px 3px 1px #000);
}

@media (max-width: 992px) {
    .sidebar {
        position: fixed;
        top: auto !important;
        width: fit-content;
        max-height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        z-index: 0;
        padding: 0 8px;
    }
    
    .sidebar:hover {
        background-color: transparent !important;
    }
    
    .sidebar li {
        padding-left: 12px;
        margin: 0;
    }

    .icon-navbar {
        font-size: 16px !important;
    }
}