* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: #333;
}

body::before {
    content: "";
    position: fixed;
    inset: -80px;
    background-image: url('../img/wpp_ficha2.webp');
    background-size: cover;
    background-position: center;
    filter: blur(4px) brightness(0.2);
    z-index: -1;
}

.sidebar {
    max-width: 95px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    transition: all 250ms ease-in-out;

    a {
        color: #b9b7b7;
    }

    a:hover {
        color: #ffffff !important;
        transform: translateX(-3px);
        filter: drop-shadow(4px 5px 6px #e3e3e3);
    }

    li {
        transition: all 250ms ease;
    }
}

.mainCard {
    height: 100%;
    max-width: 500px;
    padding: 50px 0px 50px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ff-noto {
    font-family: "Noto Sans", sans-serif;
}

.ff-sora {
    font-family: "Sora", sans-serif;
}

.conviteJose {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #d1d0cf 3%, #073019 30%, #7cc292 36%, #bd0909 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.conviteLucas {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #d1d0cf 3%, #073019 30%, #7cc292 36%, #bd0909 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.conviteLuana {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #d1d0cf 3%, #073019 30%, #7cc292 36%, #bd0909 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.convitePatricia {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #d1d0cf 3%, #073019 30%, #7cc292 36%, #bd0909 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.convitePaulo {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #02660f 3%, #073019 30%, #02270e 36%, #02120a 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}

.conviteYan {
    height: 100vh;
    max-width: 500px;
    background: linear-gradient(150deg, #024666 3%, #072330 30%, #021927 36%, #020b12 100%);
    padding: 50px 0px 50px 0px;
    position: absolute;
    right: 0px;
    top: 0;

    .nomes {
        filter: drop-shadow(3px 2px 2px #000);
        font-size: 22px;
    }

    .local,
    .data,
    .promotor {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #e3e3e3;
        filter: drop-shadow(3px 2px 2px #000);
    }
}


.header {
    font-family: "Sora", sans-serif;
    text-align: center;
    padding: 0 40px;
}

/* BLOCO COM LINHAS */
.linha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

/* TEXTO */
.linha p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 200;
    color: #e8e4c9;
}

/* LINHAS LATERAIS */
.linha span {
    flex: 1;
    height: 1px;
    max-width: 40px !important;
    max-height: .7px;
    margin-top: 3px !important;

    background: linear-gradient(to right,
            transparent,
            #caa46a,
            transparent);
}

/* LOGO */
.logoHeader {
    width: 200px;
    margin: 20px 0;
}

.light-gold {
    color: #dbb276;
}

main {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bgNomes {
    background-color: rgba(62, 80, 86, .3);
    height: fit-content;
    padding: 10px 15px 11px 15px;
    text-align: center;
    text-wrap: wrap;
    border-radius: 12px;
    width: 90%;
    filter: drop-shadow(8px 8px 2px #00000023);
}

.nomes {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #e3e3e3;
    text-wrap: wrap;
}

.bgInfo {
    background-color: rgba(62, 80, 86, .3);
    height: fit-content;
    padding: 12px 15px;
    text-align: left;
    border-radius: 12px;
    width: 90%;
    filter: drop-shadow(8px 8px 2px #00000023);
}

.local,
.data,
.promotor {
    font-family: "Sora", sans-serif !important;
    font-size: 16px !important;
    color: #e3e3e3;
}

footer {
    display: flex;
    justify-content: center;
}

.logoThermas {
    width: 95px;
    filter: drop-shadow(2px 3px 2px #000);
    position: relative;
    top: 50px;
}

@media (max-width: 480px) {
    body {
        min-height: 120vh;
        overflow-x: hidden;
        position: relative;
        background: #333;
    }

    .sidebar {
        position: absolute;
        bottom: 0px;
        min-width: 100%;
        min-height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        transition: all 250ms ease-in-out;

        a {
            color: #b9b7b7;
        }

        a:hover {
            color: #ffffff !important;
            transform: translateX(-3px);
            filter: drop-shadow(4px 5px 6px #e3e3e3);
        }

        li {
            transition: all 250ms ease;
        }

        .sidebar:hover {
            background: transparent;
        }
    }
}